.home-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 1rem;
  padding-inline: 4rem;

  background-color: brown;
  color: blanchedalmond;
}

.home-header nav{
  display: flex;
  gap: 10px;

  align-items: center;
  justify-content: center;
}

.link{
  font-size: 1.2rem;
  color: blanchedalmond;
}

.footer{
  width: 100%;
  background-color: brown;
  color: blanchedalmond;
  
  text-align: center;
  padding-block: 1rem;
  padding-inline: 4rem;
}

.footer p{
  font-size: 1.1rem;
}

main{
  padding-inline: 4rem;
  padding-block: 1rem;
  background-color: blanchedalmond;
  color: brown;
}


.login-section {
  height: 100vh;
  width: 100%;

  display: flex;

  justify-content: center;

  align-items: center;

  background: linear-gradient(135deg, #506fdd, #e0eb84);
}

.details {
  width: max(30%, 400px);

  border-radius: 1rem;

  box-shadow: 0 0 10px rgb(26, 26, 37);

  padding: 2rem;

  border: 1px solid rgb(48, 48, 247);
}

h2 {
  font-size: 2rem;

  margin-block: 5px;

  font-weight: bold;
}

.description {
  padding-block: 5px;
  font-weight: 500;
}

form {
  display: flex;

  flex-direction: column;

  margin-block: 0.5rem;
}

form > * {
  margin-block: 5px;

  font-size: 1rem;
}

#email,
#password,
button,
#name {
  padding: 0.75rem 1rem;

  border-radius: 5px;

  border: 1px solid rgb(48, 48, 247);

  font-size: 1rem;

  background-color: rgb(230, 226, 226);
}

button {
  border: none;

  box-shadow: 0 0 10px rgb(26, 26, 37);
}

.or {
  text-align: center;

  font-weight: 600;
}

.active {
  background-color: rgb(50, 42, 165);

  color: white;

}

.terms-conditions {
  display: flex;

  justify-content: flex-start;

  align-items: center;

  padding-block: 5px;

  gap: 10px;
}

span {
  color: rgb(63, 13, 110)
}

span:hover,
button:hover {
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

label {
  font-weight: 600;
}

.password-details {
  display: flex;

  justify-content: space-between;
}
